body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
}

h1 {
  color: #ff6347;
}

.filter {
  margin: 20px;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 250px;
  background-color: #fff;
}

.menu-item h2 {
  color: #ff6347;
}

.menu-item p {
  margin: 5px 0;
}
