body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  z-index: 1;
  color: black;
}
