body {
  background-image: url(./Images/The\ Benefits\ of\ Attending\ a\ Book\ Club.jpeg);
  background-size: cover;
  font-family: Arial, sans-serif;
}
header {
  background-color: transparent;
  text-align: center;
  color: white;
  padding: 20px;
}
.container {
  max-width: 200px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 50px;
  color: white;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  margin-top: 20px;
  color: white;
}
