body {
  font-family: "Times New Roman", Times, serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 5rem;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: rgb(128, 18, 18);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(234, 232, 232);
  color: rgb(128, 18, 18);
}
