#slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#slider {
  display: flex;
  transition: transform 0.5s;
}

img {
  width: 100%;
}
button {
  padding: 10px;
  background-color: red;
  color: white;
  border-radius: 2px;
}
button:hover {
  background-color: white;
  color: red;
}
