body {
  font-family: Arial, sans-serif;
  background-color: rgb(197, 81, 104);
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 2rem;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
}

.review {
  display: none;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  width: auto;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}

button:hover {
  background-color: white;
  color: red;
}
