.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #333;
  transition: left 0.3s;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
}

.content {
  margin-left: 0;
  padding: 20px;
  transition: margin-left 0.3s;
}

#toggle-sidebar {
  display: block;
  position: absolute;
  top: 20px;
  left: 50px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}
.sidebar.open {
  left: 0;
}
.content.open {
  margin-left: 250px;
}
